# Walmart Recruiting: Trip Type Classification
- Here's the decryption key: Work4WalmarT
- 마트에 오는 customer의 product code를 가지고 고객의 triptype을 예측한다
- https://www.kaggle.com/c/walmart-recruiting-trip-type-classification

In [3]:
df_train_walmart = pd.read_csv("./data/train.csv")
print(df_train_walmart.shape)
df_train_walmart.tail(10)

(647054, 7)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
647044,39,191346,Sunday,5.100020e+09,1,GROCERY DRY GOODS,3107.0
647045,39,191346,Sunday,7.874204e+09,1,DAIRY,7955.0
647046,39,191346,Sunday,3.120020e+09,1,DSD GROCERY,4639.0
647047,39,191346,Sunday,3.120033e+09,1,DSD GROCERY,4639.0
647048,39,191346,Sunday,3.700091e+09,1,HOUSEHOLD CHEMICALS/SUPP,8947.0
647049,39,191346,Sunday,3.239000e+10,1,PHARMACY OTC,1118.0
647050,39,191346,Sunday,7.874205e+09,1,FROZEN FOODS,1752.0
647051,39,191346,Sunday,4.072000e+03,1,PRODUCE,4170.0
647052,8,191347,Sunday,4.190008e+09,1,DAIRY,1512.0
647053,8,191347,Sunday,3.800060e+09,1,GROCERY DRY GOODS,3600.0

- 각 TripType에 대한 proba를 제출

In [2]:
df_samplesub_walmart = pd.read_csv("./data/sample_submission.csv")
print(df_samplesub_walmart.shape)
df_samplesub_walmart.tail()

(95674, 39)

,VisitNumber,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_12,TripType_14,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
95669,191338,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95670,191339,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95671,191340,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95672,191341,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95673,191348,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0